<div class="paging-display"></div>
<div class="paging-container">
  <div
    class="paging-arrow"
    [class.disabled]="isPrevStepDisabled()"
    (click)="prevPage()"
  >
    <i class="fa-solid fa-angle-left"></i>
  </div>
  <div
    class="paging-item"
    *ngFor="let pageNum of iterableAmountOfPages"
    [class.active]="isActivePage(pageNum)"
    (click)="goToPage(pageNum)"
  >
    {{ pageNum }}
  </div>
  <div
    class="paging-arrow"
    [class.disabled]="isNextStepDisabled()"
    (click)="nextPage()"
  >
    <i class="fa-solid fa-angle-right"></i>
  </div>
</div>
