@import "../../../styles";

.loader {
  &-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: $z-overlay;
    backdrop-filter: blur(4px);
  }

  &-circle {
    border: 10px solid $light-grey;
    border-top: 10px solid $blue;
    border-radius: 50%;
    width: $s-circle-desktop;
    height: $s-circle-desktop;
    @include spinLoader();
    @include centerPosition($z-loader);

    @media screen and (max-width: $tablet) {
      width: $s-circle-tablet;
      height: $s-circle-tablet;
    }
    @media screen and (max-width: $mobile) {
      width: $s-circle-mobile;
      height: $s-circle-mobile;
    }
  }

  &-loading {
    @include centerPosition($z-loader);
    font-weight: bold;
    color: $c-font-dark;
    font-size: 35px;
  }

  &-period {
    color: $c-font-dark;
    font-size: 35px;
    vertical-align: middle;
    opacity: 0;
    @include loadingEllipsis();

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}
