<app-card
  title="Quote"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-quote
    body
    [quote]="quoteText"
    [quoteAuthor]="quoteAuthor"
    [quoteAuthorOccupation]="quoteAuthorOccupation"
  >
  </app-quote>
  <p footer>
    Build a quote component that takes in a quote, author and occupation.
  </p>
</app-card>

<app-card
  title="Modal"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <app-modal
      #modal
      title="Modal title"
      [isShown]="isModalOpen()"
      (onModalClose)="closeModal()"
    >
      <div modalBody class="modalEl-body">
        Minim cillum sunt aute id eiusmod quis. Officia exercitation officia
        laborum reprehenderit elit cupidatat officia ad pariatur voluptate. Ex
        minim eu in nisi enim ipsum laboris.
      </div>
    </app-modal>

    <button (click)="showHideModal()" type="button" class="btn btn-danger m-3">
      {{ isModalOpen() ? "Close" : "Open" }} Modal
    </button>
    <button
      (click)="modal.openModal()"
      type="button"
      class="btn btn-success m-3"
    >
      Call Modal
    </button>
  </div>
  <p footer>
    Build a modal component that takes in a title, renders nested content to the
    body, and has an overlay.
  </p>
</app-card>

<app-card
  title="LinkedIn Post"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-linked-in-post body></app-linked-in-post>
  <p footer>
    Build a LinkedIn post component that appends the current page on a hard
    coded url.
  </p>
</app-card>

<app-card
  title="Twitter Post"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-twitter-post body></app-twitter-post>
  <p footer>
    Build a a Twitter Post Component that attends the title of the page, takes
    in hash tags, and a base href to append to a site of your choice.
  </p>
</app-card>

<app-card
  title="Credit Card Input"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <app-credit-card-input
      [creditCardNumber]="'1111222233334444'"
      [isReadOnly]="false"
    ></app-credit-card-input>
    <app-credit-card-input
      [creditCardNumber]="'1111222233335555'"
      [isReadOnly]="true"
    ></app-credit-card-input>
  </div>
  <p footer>
    Create a credit card input that when in readonly mode x out everything but
    last 4 digits, displays an icon for amex, visa, mastercard or discover. If
    no match fall back to a generic card.
  </p>
</app-card>

<app-card
  title="Loader"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <app-loader [isLoading]="isLoaderOn" [loaderType]="loaderType"></app-loader>
    <button
      (click)="turnOnCircularLoader()"
      type="button"
      class="btn btn-danger m-3"
    >
      Circular Loader
    </button>
    <button
      (click)="turnOnLoadingLoader()"
      type="button"
      class="btn btn-danger m-3"
    >
      Loading Loader
    </button>
  </div>

  <div footer>
    <p>
      <strong>V1: </strong>
      Create a circular loader component that can be turned on and off. Has an
      overlay with a blur effect.
    </p>
    <p>
      <strong>V2: </strong>
      Expand our existing loader to now take in an input for a loader type.
      Circular or Loading text.
    </p>
  </div>
</app-card>

<app-card
  title="Top Of the Page"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <p>Top Of the Page will appear after scrolling down to 400px</p>
    <app-top-of-page></app-top-of-page>
  </div>
  <p footer>
    Build a top of page component that is displayed when pass the 400px and when
    clicked brings you to the top of the page.
  </p>
</app-card>

<app-card
  title="Star Rating"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-star-rating body [rating]="2.5"></app-star-rating>
  <p footer>
    Build a star ratings component that takes in a rating and renders out the
    correct amount of stars up to 5 including half stars and empty stars.
  </p>
</app-card>

<app-card
  title="Progress Bar"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-progress-bar
    body
    [updatedProgressValue]="progressBarValue"
  ></app-progress-bar>
  <p footer>
    Build a progress bar component that takes in a value and defaults to a max
    of 100. Add an animation when the value increases or decreases.
  </p>
</app-card>

<app-card
  title="Accordion"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-accordion body [accordionContent]="accordionContent"></app-accordion>
  <p footer>
    Build a basic accordion component that takes in a list of accordion content.
    Accordion content will include a title, content(string only) and something
    to control if the accordion is opened or closed.
  </p>
</app-card>

<app-card
  title="Card"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <p body>Card body</p>
  <div footer>
    <p>Card footer</p>
    <p>
      Build a basic card component that takes in an icon, the title, & subtitle.
      It also takes in nested body content and nested footer content.
    </p>
  </div>
</app-card>
