<app-card
  title="Credit Card Input"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <app-credit-card-input
      [creditCardNumber]="'1111222233334444'"
      [isReadOnly]="false"
    ></app-credit-card-input>
    <app-credit-card-input
      [creditCardNumber]="'1111222233335555'"
      [isReadOnly]="true"
    ></app-credit-card-input>
  </div>
</app-card>

<app-card
  title="Loader Circular"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-loader body [isLoading]="false"></app-loader>
</app-card>

<app-card
  title="Top Of the Page"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <p>Top Of the Page will appear after scrolling down to 400px</p>
    <app-top-of-page></app-top-of-page>
  </div>
</app-card>

<app-card
  title="Star Rating"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-star-rating body [rating]="2.5"></app-star-rating>
</app-card>

<app-card
  title="Progress Bar"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-progress-bar
    body
    [updatedProgressValue]="progressBarValue"
  ></app-progress-bar>
</app-card>

<app-card
  title="Accordion"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <app-accordion body [accordionContent]="accordionContent"></app-accordion>
</app-card>

<app-card
  title="Card"
  subTitle="Component"
  iconClass="fa-solid fa-circle-exclamation"
>
  <p body>Card body</p>
  <p footer>Card footer</p>
</app-card>
