<app-card
  title="Fade In Out"
  subTitle="Animation"
  iconClass="fa-solid fa-circle-exclamation"
>
  <div body>
    <app-fade-in-fade-out>
      <p content>
        Ullamco officia est ea qui sit pariatur consequat aliquip adipisicing
        mollit anim ea. Aute eiusmod irure anim cupidatat est esse ad proident.
        Aliquip cupidatat qui elit qui elit cillum dolor ex mollit. Minim
        commodo exercitation veniam ea mollit aliqua elit. Adipisicing dolore
        elit ad sit.
      </p>
    </app-fade-in-fade-out>
  </div>
  <p footer>
    Build a fade in out animation that fades an element in when it enters the
    DOM and out when it exits the DOM.
  </p>
</app-card>
