$block-bg: $red-300;
$header-bg: $cyan-500;

$c-primary: #0a58ca;
$c-font-light: #fff;
$c-font-dark: $gray-900;

$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$light-grey: #929293;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;

$ripple-blue: #47a7f5;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;