@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin block-padding {
  padding: 10px 15px;
}

@mixin margin-bottom {
  margin-bottom: 15px;
}

@mixin showHideElement($value) {
  min-height: 0;
  transition: max-height 0.5s ease-in-out;
  max-height: $value;
  overflow: auto;
}

@mixin rotateIcon($value) {
  transform: rotate($value);
  transition: all 0.4s ease-in-out;
}

@mixin animateAppearing($width, $height, $size) {
  @keyframes appearing {
    from {
      width: 0;
      height: 0;
      font-size: 0;
    }
    to {
      width: $width;
      height: $height;
      font-size: $size;
    }
  }

  animation: appearing 0.5s;
}

@mixin centerPosition($z-index) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  z-index: $z-index;
}

@mixin spinLoader() {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  animation: spin 2s linear infinite;
}


