$tablet: 768px;
$mobile: 425px;

$header-desktop-font-size: 26px;
$header-tablet-font-size: 22px;
$text-desktop-font-size: 20px;
$text-tablet-font-size: 16px;

$z-top-of-page: 1;
$z-overlay: 2;
$z-loader: 3;

$s-circle-desktop: 100px;
$s-circle-tablet: 80px;
$s-circle-mobile: 50px;
