<div
  class="credit-card-container"
  [class.isFullFilled]="isFullFilled"
  [class.error]="!isValid"
>
  <div class="credit-card-icon-container" [ngSwitch]="creditCardType">
    <i class="fa-brands fa-cc-visa credit-card-icon" *ngSwitchCase="'visa'"></i>
    <i
      class="fa-brands fa-cc-mastercard credit-card-icon"
      *ngSwitchCase="'mastercard'"
    ></i>
    <i
      class="fa-brands fa-cc-amex credit-card-icon"
      *ngSwitchCase="'americanExpress'"
    ></i>
    <i class="fa-solid fa-credit-card credit-card-icon" *ngSwitchDefault></i>
  </div>
  <input
    type="text"
    class="credit-card-input"
    maxlength="16"
    [(ngModel)]="creditCardNumber"
    [readonly]="isReadOnly"
    [value]="creditCardNumber"
    (ngModelChange)="getCreditCardNumber($event)"
  />
</div>
