@import "../../../styles";

.credit-card {
  &-container {
    width: 400px;
    border: 2px solid $light-grey;
    display: flex;
    align-items: center;
    @include block-padding();
    margin-bottom: 15px;

    &.isFullFilled {
      border-color: $blue;
    }

    &.error {
      border-color: $red;
    }
  }

  &-input {
    border: none;
    outline: none;
  }

  &-icon {
    margin-right: 15px;
  }
}
