@import "../../../styles";

.top-of-the-page {
  @include animateAppearing(100px, 100px, 46px);
  @include box-shadow();
  position: fixed;
  bottom: 50px;
  right: 50px;

  width: $s-circle-desktop;
  height: $s-circle-desktop;
  border-radius: 50%;
  background-color: $red;
  cursor: pointer;
  z-index: $z-top-of-page;

  @media screen and (max-width: $tablet) {
    @include animateAppearing($s-circle-tablet, $s-circle-tablet, 40px);
    width: $s-circle-tablet;
    height: $s-circle-tablet;
  }
  @media screen and (max-width: $mobile) {
    @include animateAppearing($s-circle-mobile, $s-circle-mobile, 30px);
    width: $s-circle-mobile;
    height: $s-circle-mobile;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-font-light;
    font-size: 46px;

    @media screen and (max-width: $tablet) {
      font-size: 40px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 30px;
    }
  }
}
