<div class="bg-light">
  <app-header></app-header>
  <app-toolbar [title]="'Toolbar'">
    <nav class="nav justify-content-end toolbar-nav">
      <a
        *ngFor="let link of toolbarLinks"
        class="nav-link toolbar-link"
        href="#"
        >{{ link }}</a
      >
    </nav>
  </app-toolbar>

  <app-card
    title="Top Of the Page"
    subTitle="Component"
    iconClass="fa-solid fa-circle-exclamation"
  >
    <div body>
      <p>Top Of the Page will appear after scrolling down to 400px</p>
      <app-top-of-page></app-top-of-page>
    </div>
  </app-card>

  <app-card
    title="Star Rating"
    subTitle="Component"
    iconClass="fa-solid fa-circle-exclamation"
  >
    <app-star-rating body [rating]="2.5"></app-star-rating>
  </app-card>

  <app-card
    title="Progress Bar"
    subTitle="Component"
    iconClass="fa-solid fa-circle-exclamation"
  >
    <app-progress-bar
      body
      [updatedProgressValue]="progressBarValue"
    ></app-progress-bar>
  </app-card>

  <app-card
    title="Accordion"
    subTitle="Component"
    iconClass="fa-solid fa-circle-exclamation"
  >
    <app-accordion body [accordionContent]="accordionContent"></app-accordion>
  </app-card>

  <app-card
    title="Card"
    subTitle="Component"
    iconClass="fa-solid fa-circle-exclamation"
  >
    <p body>Card body</p>
    <p footer>Card footer</p>
  </app-card>
</div>
