@import "../../../styles";

.accordion {
  &-block {
    &-title {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 0 15px;
    }
    &-body {
      margin-bottom: 0;

      @include showHideElement(0);

      &.is-expanded {
        @include showHideElement(200px);
      }
    }

    &-icon {
      padding: 15px;
      @include rotateIcon(0deg);

      &.is-expanded {
        @include rotateIcon(180deg);
      }
    }
  }
}
